name: Deploy to npm

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - package.json

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm install

      - name: Publish to npm
        run: |
          NODE_AUTH_TOKEN="" npm publish --access public
